* {
    font-family: 'Bebas Neue', cursive;
}
body {
    background-image: url("assets/weatherImg.jpg");

}
#currentWeather{
    color: white;
}
h2 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
p {
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
.card1 {
    font-size: 20px;
}